:root {
  --primary: red;
  --secondary: #0d1b2a;
  --third: #1b263b;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
main {
  background: var(--secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
h1 {
  color: white;
  margin: 60px 0 0 0;
}
input {
  width: 80%;
  height: 40px;
  border-radius: 5px;
  border: none;
}
input:focus {
  outline: var(--primary) 1px solid;
}
.card {
  display: flex;
  justify-content: center;
  flex-direction: row;
  border-radius: 25px;
  background: var(--third);
  height: 450px;
  width: 800px;
  padding-inline: 40px;
  animation: 8s border infinite;
}
.card-pic {
  align-self: center;
  width: 50%;
  border-radius: 25px;
  overflow: hidden;
  > img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}
.card-form {
  width: 50%;
  gap: 10px;
  display: flex;
  justify-content: start;
  align-items: center;
  color: white;
  flex-direction: column;
}
.btn {
  height: 40px;
  width: 100px;
  border-radius: 5px;
  background: var(--primary);
  color: white;
  margin: 5px;
}
.btn:hover {
  cursor: pointer;
  background: var(--third);
  transform: scale(1.05);
  border: var(--primary) 1px solid;
}

@keyframes border {
  0% {
    box-shadow: 5px 0px 15px 5px var(--primary);
  }
  35% {
    box-shadow: 0px 5px 15px 5px var(--primary);
  }
  70% {
    box-shadow: -5px 0px 15px 5px var(--primary);
  }
  100% {
    box-shadow: 0px -5px 15px 5px var(--primary);
  }
}
